@model FizzBuzzViewModel
@using System
@{
    DateTime dateInput = DateTime.Today;
    DayOfWeek today = dateInput.DayOfWeek;
}
@if (today != DayOfWeek.Wednesday)//we can make method in FizzBuzzViewModel for checking for any day
{
    @foreach (var s in Model.FizzBuzzNumbers)
    {
        <h2 class="@s">@s</h2>

    }
}
else
{
    foreach (var s in Model.FizzBuzzNumbers)//we can make method in FizzBuzzViewModel for changing any value
    {
        if (s == "Fizz")
        {
            <h2 class="@s">Wizz</h2>
        }
        else if (s == "Buzz")
        {
            <h2 class="@s">Wuzz</h2>
        }
        else
        {
            <h2 class="@s">@s</h2>
        }

    }
}
